@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #030712;
}

* {
    @apply antialiased;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  